h1 {
  font-size: 1.2em;
  color: red;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

button {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

input[type="radio"] {
  margin-left: 2.5rem;
  margin-right: 0.3rem;
}

mat-header-row {
  background-color: #d9efff;
}

mat-row:hover mat-cell {
  background-color: #d9d9d9;
}
