<div class="form-group form-inline">
  <h1>{{title}}</h1>
  <button class="btn btn-success offset-md-5 col-md-2" type="button" (click)="search()">検索</button>
</div>

<div class="form-group form-inline">
  <label for="fundNo" class="col-sm-2 col-form-label">ファンドNo :</label>
  <div class="col-sm-3">
    <input type="text" id="fundNo" class="form-control" name="fundNo" [(ngModel)]="cashListSearch.fundNo"
      #fundNo="ngModel">
  </div>
  <ng-container *ngFor="let maturity of cash.maturity; index as i">
    <label>
      <input type="radio" name="maturity" id="maturity{{i}}" [(ngModel)]="cashListSearch.maturityFlg"
        [value]="maturity.id" [checked]="cashListSearch.maturityFlg == maturity.id">{{maturity.name}}
    </label><br />
  </ng-container>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Exchange Name Column -->
    <ng-container matColumnDef="fundNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ファンドNo </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.fundNo}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fundNm">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ファンド名 </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.fundNm | slice: 0: 10}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="receiveDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 入金日 </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.receiveDate | date}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="companyCd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 会社コード </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.companyCd}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="receiveAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 入金(予測) </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.receiveAmount | number:'1.0-0'}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actualReceiveAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 入金(実績) </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.actualReceiveAmount | number:'1.0-0'}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="profitAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 利益(予測) </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.profitAmount | number:'1.0-0'}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actualProfitAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 利益(実績) </mat-header-cell>
      <mat-cell *matCellDef="let cash">
        <span style="cursor:pointer;" (click)="navigate(cash)">
          {{cash.actualProfitAmount | number:'1.0-0'}}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20, 30, 50]"></mat-paginator>

</div>
