<h1>{{title}}</h1>
<form #myForm="ngForm" (ngSubmit)="add()" class="form-horizontal">
  <div class="form-group row">
    <label for="fundNm" class="col-sm-2 col-form-label">ファンド名 :</label>
    <div class="col-sm-6">
      <input type="text" id="fundNm" class="form-control" name="fundNm" [(ngModel)]="fund.fundNm"
              #fundNm="ngModel" required>
      <span *ngIf="fundNm.errors?.required"> ファンド名は必須です</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="companyCd" class="col-sm-2 col-form-label">会社コード :</label>
    <div class="col-sm-6">
      <select id="companyCd" name="companyCd" required [(ngModel)]="fund.companyCd">
        <option value=""></option>
        <option *ngFor="let companyCd of fund.companys" [value]="companyCd">{{companyCd}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="startDate" class="col-sm-2 col-form-label">運用開始日 :</label>
    <div class="col-sm-6">
      <input type="date" id="startDate" class="form-control" name="startDate" [(ngModel)]="fund.startDate"
              #startDate="ngModel" required>
      <span *ngIf="startDate.errors?.required"> 運用開始日は必須です</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="firstPaymentDate" class="col-sm-2 col-form-label">初回利払日 :</label>
    <div class="col-sm-6">
      <input type="date" id="firstPaymentDate" class="form-control" name="firstPaymentDate" [(ngModel)]="fund.firstPaymentDate"
              #firstPaymentDate="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="maturityDate" class="col-sm-2 col-form-label">償還日 :</label>
    <div class="col-sm-6">
      <input type="date" id="maturityDate" class="form-control" name="maturityDate" [(ngModel)]="fund.maturityDate"
              #maturityDate="ngModel" required>
      <span *ngIf="maturityDate.errors?.required"> 償還日は必須です</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="paymentInterval" class="col-sm-2 col-form-label">利払周期 :</label>
    <div class="col-sm-6">
      <input type="text" id="paymentInterval" class="form-control" name="paymentInterval" [(ngModel)]="fund.paymentInterval"
              #paymentInterval="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="amount" class="col-sm-2 col-form-label">額面 :</label>
    <div class="col-sm-6">
      <input type="text" id="amount" class="form-control" name="amount" [(ngModel)]="fund.amount"
              #amount="ngModel" required numberInput>
      <span *ngIf="amount.errors?.required"> 額面は必須です</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="yield" class="col-sm-2 col-form-label">利回り :</label>
    <div class="col-sm-6">
      <input type="text" id="yield" class="form-control" name="yield" [(ngModel)]="fund.yield"
              #yield="ngModel" required>
      <span *ngIf="yield.errors?.required"> 利周りは必須です</span>
    </div>
  </div>
  <div class="form-group row">
    <label for="interestRate" class="col-sm-2 col-form-label">利率 :</label>
    <div class="col-sm-6">
      <input type="text" id="interestRate" class="form-control" name="interestRate" [(ngModel)]="fund.interestRate"
              #interestRate="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label for="currency" class="col-sm-2 col-form-label">通貨 :</label>
    <div class="col-sm-6">
      <select id="currency" name="currency" required [(ngModel)]="fund.currency">
        <option value=""></option>
        <option *ngFor="let currency of fund.currencys" [value]="currency">{{currency}}</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary mt-5 mb-3" type="submit" [disabled]="myForm.invalid">実行</button>
  <button class="btn btn-secondary mt-5 mb-3" type="button" (click)="goBack()">戻る</button>
</form>
