<form #myForm="ngForm" (ngSubmit)="delete()" class="form-horizontal">
  <div class="form-group form-inline">
  <h1>{{title}}</h1>
  <button class="btn btn-success offset-md-2 mt-5 mb-3" type="button" [routerLink]="['/cash/list', fund.fundNo]">キャッシュ一覧</button>
  <button class="btn btn-primary mt-5 mb-3" type="button" [routerLink]="['/cash/sum', fund.fundNo]">キャッシュ合計</button>
</div>
  <div class="row">
      <div class="col-3">
          <strong>ファンドNo</strong>
      </div>
      <div class="col-9">
          {{ fund.fundNo }}
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>ファンド名</strong>
      </div>
      <div class="col-9">
          {{ fund.fundNm }}
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>会社名</strong>
      </div>
      <div class="col-9">
          {{ fund.companyNm }}
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>運用開始日</strong>
      </div>
      <div class="col-9">
          {{ fund.startDate | date: 'longDate' }}
      </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-3">
        <strong>初回利払日</strong>
    </div>
    <div class="col-9">
        {{ fund.firstPaymentDate  | date: 'longDate' }}
    </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>償還日</strong>
      </div>
      <div class="col-9">
          {{ fund.maturityDate | date: 'longDate' }}
      </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-3">
        <strong>利払周期</strong>
    </div>
    <div class="col-9" *ngIf="fund.paymentInterval">
        {{ fund.paymentInterval}}ヵ月
    </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>額面</strong>
      </div>
      <div class="col-9">
          {{ fund.amount | number}}
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>利回り</strong>
      </div>
      <div class="col-9">
          {{ fund.yield}}%
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>利率</strong>
      </div>
      <div class="col-9" *ngIf="fund.interestRate">
          {{ fund.interestRate}}%
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-3">
          <strong>通貨</strong>
      </div>
      <div class="col-9">
          {{ fund.currency }}
      </div>
  </div>
  <button class="btn btn-primary mt-5 mb-3" type="button" [routerLink]="['/fund/update', fund.fundNo]">編集</button>
  <button class="btn btn-success mt-5 mb-3" (click)="goBack()">削除</button>
  <button class="btn btn-secondary mt-5 mb-3" type="button" (click)="goBack()">戻る</button>
</form>
