<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="my-div-style w-100">
      <div class="col-lg-8 col-md-10 mx-auto">
        <nav>
          <a routerLink="/funds" routerLinkActive="active">ファンド一覧</a>
          <a routerLink="/cash" routerLinkActive="active">キャッシュ一覧</a>
          <a routerLink="/cash/sum" routerLinkActive="active">キャッシュ年間</a>
        </nav>
        <hr>
        <app-message></app-message>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
