<div class="form-group form-inline">
  <h1>{{title}}</h1>
  <button class="btn btn-success offset-md-5 col-md-2" type="button" (click)="search()">検索</button>
  <button class="btn btn-primary col-md-2" [routerLink]="['/fund/add']">新規作成</button>
</div>

<div class="form-group form-inline">
  <label for="maturityStart" class="col-sm-2 col-form-label">償還日From :</label>
  <div class="col-sm-3">
    <input type="date" id="maturityStart" class="form-control" name="maturityStart"
            [(ngModel)]="fundSearch.maturityStart" #maturityStart="ngModel">
  </div>
  <label for="maturityEnd" class="col-sm-2 col-form-label">償還日To :</label>
  <div class="col-sm-3">
    <input type="date" id="maturityEnd" class="form-control" name="maturityEnd"
            [(ngModel)]="fundSearch.maturityEnd" #maturityStart="ngModel">
  </div>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Exchange Name Column -->
    <ng-container matColumnDef="fundNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ファンドNo </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.fundNo}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fundNm">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ファンド名 </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.fundNm | slice: 0: 10}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="companyCd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 会社コード </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.companyCd}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 投資開始日 </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.startDate | date}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstPaymentDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 初回利払日 </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.firstPaymentDate | date}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="maturityDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 償還日 </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.maturityDate | date}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 額面 </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.amount | number:'1.0-0'}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="yield">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 利回り </mat-header-cell>
      <mat-cell *matCellDef="let fund">
        <span style="cursor:pointer;" (click)="navigate(fund)">
          {{fund.yield}}%</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20, 30]"></mat-paginator>

</div>

<router-outlet></router-outlet>
