<h1>{{title}}</h1>
<div *ngIf="cash">
  <form #myForm="ngForm" (ngSubmit)="update()" class="form-horizontal">
    <div class="row">
      <div class="col-sm-3">
          ファンドNo
      </div>
      <div class="col-sm-6">
          {{ cash.fundNo }}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
          入金日
      </div>
      <div class="col-sm-6">
          {{ cash.receiveDate | date }}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
          種別
      </div>
      <div class="col-sm-6">
          {{ cash.cashFlowType | i18nSelect :cashFlowTypeName }}
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <label for="receiveAmount" class="col-sm-3 col-form-label">受取金額（予想） :</label>
      <div class="col-sm-6">
        <input type="text" id="receiveAmount" class="form-control" name="receiveAmount"
                [(ngModel)]="cash.receiveAmount" #receiveAmount="ngModel" required numberInput>
      </div>
      <span *ngIf="receiveAmount.errors?.required"> 額面は必須です</span>
    </div>

    <div class="form-group row">
      <label for="actualReceiveAmount" class="col-sm-3 col-form-label">受取金額（実績） :</label>
      <div class="col-sm-6">
        <input type="text" id="actualReceiveAmount" class="form-control" name="actualReceiveAmount"
                [(ngModel)]="cash.actualReceiveAmount" #actualReceiveAmount="ngModel" numberInput>
      </div>
    </div>

    <div class="form-group row">
      <label for="profitPreTax" class="col-sm-3 col-form-label">税引き前利益（予想） :</label>
      <div class="col-sm-6">
        <input type="text" id="profitPreTax" class="form-control" name="profitPreTax"
                [(ngModel)]="cash.profitPreTax" #amount="ngModel" numberInput>
      </div>
    </div>

    <div class="form-group row">
      <label for="actualProfitPreTax" class="col-sm-3 col-form-label">税引き前利益（実績） :</label>
      <div class="col-sm-6">
        <input type="text" id="actualProfitPreTax" class="form-control" name="actualProfitPreTax"
                [(ngModel)]="cash.actualProfitPreTax" #actualProfitPreTax="ngModel" numberInput>
      </div>
    </div>

    <div class="form-group row">
      <label for="profitAmount" class="col-sm-3 col-form-label">税引き後利益（予想） :</label>
      <div class="col-sm-6">
        <input type="text" id="profitAmount" class="form-control" name="profitAmount"
                [(ngModel)]="cash.profitAmount" #amount="ngModel" numberInput>
      </div>
    </div>

    <div class="form-group row">
      <label for="actualProfitAmount" class="col-sm-3 col-form-label">税引き後利益（実績） :</label>
      <div class="col-sm-6">
        <input type="text" id="actualProfitAmount" class="form-control" name="actualProfitAmount"
                [(ngModel)]="cash.actualProfitAmount" #actualProfitAmount="ngModel" numberInput>
      </div>
    </div>

    <button class="btn btn-primary mt-5 mb-3" type="submit" [disabled]="myForm.invalid">実行</button>
    <button class="btn btn-secondary mt-5 mb-3" type="button" (click)="goBack()">戻る</button>
  </form>
</div>
