<div class="form-group form-inline">
  <h1>{{title}}</h1>
  <div class="offset-md-1 col-sm-3">
    <select id="year" name="year" [(ngModel)]="cashSumSearch.year" (change)="search()">
      <option value=""></option>
      <option *ngFor="let year of cashSumSearch.years" [value]="year">{{year}}</option>
    </select>
  </div>
  <label for="fundNo" class="col-sm-2 col-form-label">ファンドNo :</label>
  <div class="col-sm-3">
    <input type="text" id="fundNo" class="form-control" name="fundNo"
            [(ngModel)]="cashSumSearch.fundNo" #fundNo="ngModel" (change)="search()">
  </div>
</div>

<table border="1" class="table table-bordered table-hover table-responsive">
  <thead class="thead-light">
    <tr>
      <th>ファンドNo</th>
      <th>入金日</th>
      <th>税前利益(予測)</th>
      <th>税前利益(実績)</th>
      <th>税後利益(予測)</th>
      <th>税後利益(実績)</th>
      <th>税前差異</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cash of cashSum">
      <td>{{cash.fundNo}}</td>
      <td>{{cash.receiveDate | date}}</td>
      <td>{{cash.profitPreTax | number:'1.0-0'}}</td>
      <td>{{cash.actualProfitPreTax | number:'1.0-0'}}</td>
      <td>{{cash.profitAmount | number:'1.0-0'}}</td>
      <td>{{cash.actualProfitAmount | number:'1.0-0'}}</td>
      <td>{{getDiff(cash.profitPreTax, cash.actualProfitPreTax)}}</td>
    </tr>
  </tbody>
</table>
